h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

* {
  --h2XL-font-size: 48.83px;
  --hXL-font-size: 39.06px;
  --hLG-font-size: 31.25px;
  --hMD-font-size: 25px;
  --hSM-font-size: 20px;
  --base-font-size: 16px;
  --small-font-size: 16px;
  --extraSmall-font-size: 16px;
  
  --green: #00473E;
  --green-light: #475D5B;
  --green-dark: #00332C;
  --yellow: #FAAE2B;
  --pink: #FFA8BA;
  --salmon: #FA5246;
  --white: #F2F7F5;
  --grey-45: #6F7676;
  --grey-80: #CACECD;

  font-family: 'GeneralSans-Medium';
}