@import url(global.css);
@import url(fonts.css);

.poseElement{
    width: 334px;
    height: 87px;
    display: grid;
    grid-template-columns: 133px 181px;
    margin-bottom: 19px;
}

    .poseElement img{
        border-radius: 6px;
        height: 87px;
        width: 133px;
        object-fit: cover;
    }

    .poseElement p{
        margin-left: 20px;
        color: var(--green);
        display: grid;
        align-items: center
    }