@import url(global.css);
@import url(fonts.css);

.sessionPageHeader {
    height: 314px;
    width: 375px;
    margin-bottom: 80px;
}

    .sessionPageHeader img {
        height: 314px;
        width: 375px;
        object-fit: cover;
        position: absolute;
        z-index: -1;
    }

.sessionPageTitle {
    height: 118px;
    width: 375px;
    margin-top: 197px;
    background-image: url('../styles/images/Ellipse1.svg');
    display: grid;
    justify-content: center;
}

    .sessionPageTitle h2 {
        color: var(--green-dark);
        text-align: center;
        margin: 55px 0 0 0;
    }

    .sessionPageTitle p {
        color: var(--green-light);
        text-align: center;
        margin: 9px 0 0 0;
    }